* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.rock-paper-scissors {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 3em;
}

.rock-paper-scissors img {
    width: 200px;
}

.rps-box {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.btn-rps {
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(58, 58, 73);
    color: #ffffff;
}

.score {
    display: flex;
    justify-content: space-around;
}

label {
    font-size: 25px;
}

.player-choice,
.computer-choice {
    background-size: 200px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}